allow thermal-engine init:unix_stream_socket connectto;
allow thermal-engine sysfs_battery_supply:dir search;
allow thermal-engine sysfs_battery_supply:file { open read write };

allow thermal-engine self:capability chown;

allow thermal-engine socket_device:sock_file create_file_perms;
